html,
body {
    height: 100%;
    background-color: #23262d;

    #app {
        height: 100%;
        color: #dfdfdf;
    }

    // 内容一行显示，超出显示滚动条,子项目要添加item类名
    .oneline {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        text-align: center;

        .item {
            display: inline-block;
            margin-left: 15px;

            &:first-child {
                margin-left: 20px;
            }
        }
    }

    // 文本显示一行，超出显示省略号
    .text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}